@import '../../styles/global-variables.less';

.who-receiver-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: @margin-text-bottom;
  cursor: context-menu;
}

.who-receiver-list-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: @margin-text-bottom;
  margin-bottom: @margin-text-bottom;

  .who-receiver-list-item:hover {
    background-color: @background-card-hover;
  }

  .who-receiver-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: @transparent-grey-cards;
    border: @border-color-light;
    border-radius: @border-radius;
    padding: 24px;
    background: @transparent-grey-cards;

    img {
      width: 100%;
      border-radius: @border-radius;
    }

    h2 {
      color: @primary-color;
    }

    .who-receiver-list-subtitle {
      span {
        font-size: 16px;
      }
    }

    .who-receiver-list-description {
      margin-bottom: @margin-text-bottom;
    }
  }
}

.who-receiver-list-buttons {
  display: flex;
  padding-top: 24px;
  border-radius: @border-radius;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  gap: 20px;

  a {
    border-radius: @border-radius;
    background-color: @secundary-color;
  }

  a:hover {
    background-color: @button-hover;
  }
}

@media (max-width: 576px) {}

@media (min-width: 577px) and (max-width: 768px) {}