@import '../../styles/global-variables.less';

.home-container {
  padding-inline: 12%;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-background {
  position: relative;
  z-index: -1;
}

@media (max-width: 576px) {
  .home-container {
    padding-inline: 24px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

}