@import '../../styles/global-variables.less';

.commercial-container {
    margin-bottom: @margin-text-bottom;
}

.commercial-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @primary-color;
    border-radius: @border-radius;
    padding-block: 48px;
    padding-inline: 24px;
    flex-wrap: wrap;
    gap: 20px
}

.commercial-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.commercial-detail-item {
    display: flex;
    min-width: 270px;
}

.commercial-text {
    display: flex;
    align-items: center;
    min-width: 200px;
    max-width: 250px;
    
}

.commercial-list-detail {
    display: flex;
    width: 80%;
}